<div class="main-container">
  <div class="container">
    <div class="form-box">
  

      <h2>Welcome Back</h2>
      <p class="subtitle">Login to your 
        <span style="color: #3b82f6;">CarConnect</span> account
      </p>

      <form (ngSubmit)="onSubmit()" #loginForm="ngForm">

        <div class="error-message" *ngIf="errorMessage">
          {{ errorMessage }}
        </div>

        <div class="input-group">
          <label>Email</label>
          <input 
            type="email" 
            name="email" 
            [(ngModel)]="email" 
            required 
            [class.error-input]="errorMessage"
          />
        </div>

        <div class="input-group">
          <label>Password</label>
          <input 
            type="password" 
            name="password" 
            [(ngModel)]="password" 
            required 
            [class.error-input]="errorMessage"
          />
        </div>


        <div class="forgot-password">
          <a href="#" (click)="onForgotPassword(); $event.preventDefault()">
            Forgot Password?
          </a>
        </div>

        <button 
          type="submit" 
          class="btn" 
          style="color:  black"
          [disabled]="isLoading || !loginForm.valid"
        >
          {{ isLoading ? 'Logging in...' : 'Login' }}
        </button>

        <p class="register-link">
          Don't have an account?  
          <a routerLink="/register">Sign up</a>
        </p>
      </form>
      <!-- <div class="back-button-container">
        <button 
          type="button" 
          class="back-button" 
          (click)="goToHome()"
          title="Go to Home"
        >
          <span class="back-icon">←</span>
          Back to Home
        </button>
      </div> -->
    </div>

    <div class="image-box">
      <img src="login_image.webp" alt="Car Pool" />
    </div>
  </div>
</div>